.form_area {
    background: #E4ECEC;
    margin-bottom: 604px;
    margin-left: 30px;
    margin-right: 30px;
}
.form_area_content {
    text-align: center;
    margin:40px;
}
.input_area{
    
}
.input_item {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 20px;
    background: #E4ECEC;
    
}
.btn_custom {
    width: 400px;
}
.fl {
    float: left;
}
.fr{
    float:right;
}